* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', sans-serif;
    background-color: #0f172a;
    color: #f1f5f9;
}
.logo {
    font-size: 22px;
    font-family: 'Orbitron', sans-serif;
    font-style: italic;
    font-weight: 600;
    color: #38bdf8;
    letter-spacing: 1px;
}
.navbar {
    display: flex;
    font-family: 'Orbitron', sans-serif;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background-color: #1e293b;
    border-bottom: 1px solid #334155;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.contest-info {
    font-size: 16px;
}

.container {
    font-family: 'Orbitron', sans-serif;
    display: flex;
    min-height: calc(100vh - 60px);
    width: 100%;
}

.sidebar {
    font-family: 'Orbitron', sans-serif;
    width: 260px;
    min-width: 200px;
    max-width: 300px;
    background-color: #1e293b;
    padding: 20px;
    border-right: 1px solid #334155;
    overflow-y: auto;
}
.sidebar h3 {
    margin-top: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}
.head{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 28px;
    color: white;
    font-size:30px;
    text-align: center;
    display: flex;
}

/* Scrollbar for question list */
#questionList{
    max-height: 450px;   /* adjust based on your layout */
    overflow-y: auto;
    padding-right: 5px;
}

/* Scrollbar width */
#questionList::-webkit-scrollbar{
    width:8px;
}

/* Scrollbar track */
#questionList::-webkit-scrollbar-track{
    background:#f1f1f1;
    border-radius:10px;
}

/* Scrollbar handle */
#questionList::-webkit-scrollbar-thumb{
    background:#888;
    border-radius:10px;
}

/* Scrollbar handle on hover */
#questionList::-webkit-scrollbar-thumb:hover{
    background:#555;
}

.sidebar li {
    padding: 10px;
    margin-bottom: 8px;
    background-color: #334155;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
}

.sidebar li:hover {
    background-color: #475569;
}

/* ✅ ACTIVE RELAY STYLE */
.sidebar li.active {
    background-color: #38bdf8;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#editor {
    width: 100%;
    flex: 1;
    min-height: 400px;
    height: 45vh;
    border: 1px solid #334155;
    border-radius: 6px;
    margin-top: 15px;
    font-family: 'Orbitron', sans-serif;
}
.problem-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#languageSelect {
    padding: 6px 12px;
    font-family: 'Orbitron', sans-serif;
    background-color: #1e293b;
    color: white;
    font-size: large;
    border: 1px solid #334155;
    border-radius: 5px;
    cursor: pointer;
}
.language-dropdown{
    width:100%;
    margin-bottom:15px;
    padding:6px;
    border-radius:5px;
}
.problem-header {
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: space-between;  /* pushes title left, dropdown right */
    align-items: center;
    margin-bottom: 10px;
}

.problem-header h2 {
    margin: 0;
}

.top-controls {
    display: flex;
    align-items: center;
}

.buttons {
    margin-top: 15px;
}
.run-btn {
    padding: 10px 22px;
    background: linear-gradient(90deg, #22c55e, #16a34a);
    border: none;
    font-family: 'Orbitron', sans-serif;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    transition: 0.2s ease-in-out;
}

.run-btn:hover {
    transform: translateY(-2px);
    background-color: #00ff1e;
}
.result-box {
    margin-top: 20px;
    padding: 15px;
    background-color: #1e293b;
    border-radius: 8px;
    border: 1px solid #334155;
}

#result {
    margin-top: 10px;
    font-weight: bold;
}

/* Medium screens */
@media (max-width: 1200px) {
    .sidebar {
        width: 220px;
    }
}

/* Small desktops */
@media (max-width: 992px) {
    .sidebar {
        width: 200px;
    }
}

/* Tablets */
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .main {
        width: 100%;
    }
}

.editor{
    display: flex;
    width: 90%;
    right:20%;
    align-items: flex-start;
    gap: 40px;
}

/* editor area */
.editor-container{
    flex: 1;
}

/* right stats panel */
.stats-panel{
    width: 220px;
    background: #0f1a2b;
    padding: 15px;
    border-radius: 6px;
}

/* stat blocks */
.stat{
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    font-weight: bold;
}

.passed{
    background: #02c661;
    color: hwb(94 2% 71%);
}

.wrong{
    background: #e2001a;
    color: #7d0000;
}

.notAttempted{
    background: #2f3e55;
    color: #99b0d2;
}
.run-btn:disabled{
    background-color: #555;
    cursor: not-allowed;
    opacity: 0.7;
}



.exit-btn{
    padding: 10px 30px;
    background: linear-gradient(90deg,#ef4444,#b91c1c);
    border: none;
    border-radius: 6px;
    font-family: 'Orbitron', sans-serif;
    font-size: 14px;
    cursor: pointer;
    position:absolute;
    right:5%;
    top:80%;
    color: white;
    font-weight: 500;
}

.exit-btn:hover{
    transform: translateY(-2px);
    background:#dc2626;
}

/* WELCOME SCREEN */

.welcome-screen{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:#0f172a;
}

.welcome-screen h1{
    font-size:42px;
    margin-bottom:20px;
}

.rules-btn{
   margin-top:25px;
    padding:10px 28px;
    font-size:20px;
    border:none;
    border-radius:8px;
    background:#304361;
    color:white;
    cursor:pointer;
    transition:0.2s;
    animation: riseUp 0.9s ease forwards;
    animation-delay:1.6s;
    opacity:0;
}

.rules-btn:hover{
    background:#0acfd5;
}

.welcome-screen{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.rules{
    background:#1e293b;
    padding:20px;
    border-radius:8px;
    margin-bottom:30px;
}

.rules ul{
    text-align:left;
}

.start-btn{
    margin-top:25px;
    padding:10px 45px;
    font-size:20px;
    border:none;
    border-radius:8px;
    background:#22c55e;
    color:white;
    cursor:pointer;
    animation: riseUp 0.9s ease forwards;
    animation-delay:1.6s;
    opacity:0;
}

.start-btn:hover{
    background:#0acfd5;
}

/* COUNTDOWN */

.countdown-screen{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:120px;
}

#countdownNumber{
    font-size:120px;
    opacity:0;
    animation:fadeCount 1s ease forwards;
}

@keyframes fadeCount{
    0%{
        opacity:0;
        transform:scale(0.6);
    }
    40%{
        opacity:1;
        transform:scale(1.2);
    }
    100%{
        opacity:0;
        transform:scale(0.8);
    }
}

@keyframes countZoom{
    0%{
        transform:scale(0.3);
        opacity:0;
    }
    50%{
        transform:scale(1.3);
        opacity:1;
    }
    100%{
        transform:scale(0.5);
        opacity:0;
    }
}

/* LOGIC RELAY TRAIN EFFECT */


/* ROUND 2 POP UP */

.round-title{
    font-size:34px;
    text-align:center;
    opacity:0;

    animation: roundAppear 1s ease forwards;
    animation-delay:1.3s;
}

@keyframes roundAppear{

    0%{
        transform:translateY(50px);
        opacity:0;
    }

    100%{
        transform:translateY(0);
        opacity:1;
    }

}

.tagline{
    margin-top:5px;
    font-size:20px;
    font-style: italic;
    color:#ffffff;
    font-weight: lighter;
    text-align:center;
    opacity: 0;

    animation: boomEntry 1s ease forwards;
    animation-delay: 1.4s;
    
}

@keyframes boomEntry{

    0%{
        transform: scale(0);
        opacity:0;
    }

    50%{
        transform: scale(1.4);
        opacity:1;
    }

    75%{
        transform: scale(0.9);
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }

}
.rules-box{
    display:none;
    background:#304361;
    padding:20px;
    text-align: justify;
    font-style: italic;
    font-size:medium;
    margin-top:20px;
    border-radius:8px;
    animation:fadeRules 0.5s ease;
}
.rules-box li{
    padding: 5px;
    margin-left: 5px;
    font-size: 15px;
    line-height: 1.6;
}
@keyframes fadeRules{
    from{opacity:0; transform:translateY(-10px);}
    to{opacity:1; transform:translateY(0);}
}

.curtain{
    position:relative;
    overflow:hidden;
}

/* curtains */

.curtain::before,
.curtain::after{
    content:"";
    position:absolute;
    top:0;
    width:50%;
    height:100%;
    background:#0f172a;
    z-index:1000;
}

.curtain::before{
    left:0;
}

.curtain::after{
    right:0;
}

/* animation */

.openCurtain::before{
    animation:openLeft 1s forwards;
}

.openCurtain::after{
    animation:openRight 1s forwards;
}

@keyframes openLeft{
    from{transform:translateX(0);}
    to{transform:translateX(-100%);}
}

@keyframes openRight{
    from{transform:translateX(0);}
    to{transform:translateX(100%);}
}

.logic-title, .round-title, .tagline{
    animation-duration: 1.2s;
}

.logic-title{
    font-size:72px;
    font-style:italic;
    font-weight:800;
    text-align:center;
margin-top: 15px;
padding: 20px;
    background: linear-gradient(to bottom,#FFFFFF 40%,#7DD3FC 100%);
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;

    animation: trainMove 1.3s ease forwards;
}

@keyframes trainMove{

    0%{
        transform:translateX(-120vw);
        opacity:0;
    }

    50%{
        transform:translateX(0);
        opacity:1;
    }

    /* jerk effect */
    60%{
        transform:translateX(-10px);
    }
}



@keyframes riseUp{
    0%{
        transform: translateY(60px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}